<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Glitch&display=swap" rel="stylesheet">

<h2>Music Legends</h2>
<div class="leaderboard">
    <div *ngFor="let user of leaderboard" class="user-row">
        <div class="user-info">
            <p class="column">{{user.name}}</p>
            <p class="column">{{user.score}}</p>
            <p class="column">{{user.genre}}</p>
            <p class="column">{{user.questionType}}</p>
        </div>
    </div>
</div>